.gallery {
  padding: 150px 0 25px;

  &__title {
    text-transform: capitalize;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 10px;

    margin-top: 50px;
  }

  &__item {
    position: relative;
    border-radius: var(--rounded-lg);
    overflow: hidden;

    .btn-like {
      position: absolute;
      top: 2%;
      right: 2%;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 30px;
        fill: var(--pale-20);
      }
    }
  }

  &__btn-more {
    margin-top: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    border-radius: 100%;
  }
}

@media (max-width: 576px) {
  .gallery {

    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}